@import './variables.scss';
@import './bootstrap.scss';

#root {
  position: absolute;
    z-index: 9;
    /* background-color: #f1f1f1;
    border: 1px solid #d3d3d3; */
    text-align: center;
}
    
#root {
    /* padding: 10px; */
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */
}



.proof-tree-premises {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $body-bg;
}

.proof-tree-node {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.proof-tree-conclusion {
    display: block;
    width: max-content;
    margin-top: 2px;
    margin-bottom: 2px;
}

.proof-tree-premises-spacer {
    display: block;
    width: 5vw;
}

.proof-tree-selected-node {
    background-color: $primary;
}